{% extends 'base.html.twig' %}

{% block title %}Blog opdracht{% endblock %}

{% block body %}
    {% if blogs > 1 %}
        <div class="row">
            {% for blog in blogs %}
                <div class="col-4">
                    Title: {{ blog.title }} <br>
                    Body: {{ blog.body }} <br>
                    Door: {{ blog.user }} <br>
                    {% if app.user %}
                        <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a> <br>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
